<footer class="site-footer">
  <div class="footer-left">
    {{ site.author }}
  </div>

  <div class="footer-center">
    {% include social.html %}
  </div>

  <div class="footer-right">
    &copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.
  </div>

  <div class="toggle-switch">
    <label>
      <input type="checkbox" id="dark-mode-toggle">
      <span class="toggle-slider"></span>
    </label>
  </div>

  <script>
    const toggle = document.getElementById("dark-mode-toggle");
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const currentMode = localStorage.getItem("theme");

    if (currentMode === "dark" || (!currentMode && prefersDark)) {
      document.body.classList.add("dark-mode");
      toggle.checked = true;
    }

    toggle.addEventListener("change", () => {
      if (toggle.checked) {
        document.body.classList.add("dark-mode");
        localStorage.setItem("theme", "dark");
      } else {
        document.body.classList.remove("dark-mode");
        localStorage.setItem("theme", "light");
      }
    });
  </script>

</footer>
