<footer class="site-footer">
  <div class="footer-left">
    {{ site.author }}
  </div>

  <div class="footer-center">
    {% include social.html %}
  </div>

  <div class="footer-right">
    &copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggle = document.getElementById("darkModeToggle");
      const isDark = localStorage.getItem("theme") === "dark";

      if (isDark) {
        document.documentElement.classList.add("dark");
        toggle.checked = true;
      }

      toggle.addEventListener("change", function () {
        document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", toggle.checked ? "dark" : "light");
      });
    });
  </script>


</footer>
