<ul class="social-media-grid">
  {%- for entry in site.minima.social_links -%}
    <li>
      <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
        {%- if entry.icon == "google-scholar" -%}
          <img src="/assets/icons/googlescholar.svg" alt="{{ entry.title }}" class="social-icon" />
        {%- else -%}
          <span class="fa-brands fa-{{ entry.icon }} social-icon"></span>
        {%- endif -%}
        <span class="social-label">{{ entry.title }}</span>
      </a>
    </li>
  {%- endfor -%}
</ul>
